.clients {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);

  &__list {
    display: flex;
  }
}

.clients__item:not(:last-child) {
  margin-right: var(--standard-margin);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: border-color var(--standard-duration) var(--timing-function),
    fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
}
