.clients {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.clients-list {
  display: flex;
}

.clients-item:not(:last-child) {
  margin-right: var(--standard-margin);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: border-color var(--standard-duration) var(--timing-function),
    fill 250ms var(--timing-function);
}

.clients-icon {
  width: 106px;
  height: 60px;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
