.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-elements:nth-child(2) {
  margin-right: 23px;
}

.footer__span--light {
  color: #ffffff;
}

.footer-list {
  margin-top: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--standard-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__tittle {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.soc-list__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;

  transition: background-color var(--standard-duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
