.team {
  background-color: #f5f4fa;
}
.team__list {
  display: flex;
  justify-content: center;
  margin: calc(-1 * var(--standard-margin) / 2);
}
.team__item {
  background-color: var(--secondary-color);
  flex-basis: calc(100% / 4 - 4 * var(--standard-margin));
  margin: calc(var(--standard-margin) / 2);
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--shadow);
}

.team__low-tittle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-color);
}
.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}
.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
}
