.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  justify-content: center;
  margin: calc(-1 * var(--standard-margin) / 2);
}
.team-item {
  background-color: var(--secondary-color);
  flex-basis: calc(100% / 4 - 4 * var(--standard-margin));
  margin: calc(var(--standard-margin) / 2);
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--shadow);
}

.team-low-tittle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}
.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}
.team-soc-item + .team-soc-item {
  margin-left: 10px;
}
.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: #afb1b8;

  transition: background-color var(--standard-duration) var(--timing-function),
    fill 250ms var(--timing-function);
}
.soc-icon {
  width: 20px;
  height: 20px;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  fill: var(--secondary-color);
}
