.contacts-list {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 50px;
    text-align: center;
  }
}

.contacts-list__link {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;

  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color var(--standard-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}
